__pycache__/
xXx*
network_xXx*
sota/ExquisiteNetV2/cifar-10-batches-py
*.bmp
build/
tests/*/outputs
0/
1
first_test/
geminikey.sh
uv.lock
.venv/
sota/ExquisiteNetV2/cifar10/
results/
weights/
Miniconda3-latest-MacOSX-arm64.sh
second_test/
sota/Pointnet_Pointnet2_pytorch/log/classification/*
!sota/Pointnet_Pointnet2_pytorch/log/classification/pointnet2_cls_ssg
!sota/Pointnet_Pointnet2_pytorch/log/classification/pointnet2_msg_normals
!sota/Pointnet_Pointnet2_pytorch/log/classification/pointnet2_ssg_wo_normals
sota/Pointnet_Pointnet2_pytorch/models/llmge_models/